<div class="footer" align="center">
  <div>TestGuru © <span><%= footer_year %></span></div>
  <div>Удобный инструмент для создания, управления и прохождения тестов</div>
  <div>Учебный проект в онлайн-школе
    <span><a href="http://thinknetica.com/" target="_blank">Thinknetica</a></span>
  </div>
  <%= github_url('Sophiliya', "https://github.com/Sophiliya/test-guru") %>
</div>
