@import "bootstrap";
@import "typography/icons";
@import "global";

.main {
  min-height: 500px;
}

.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: relative;
  right: 0;
}

.test-header {
  display: flex;
  justify-content: space-between;
}

.red {
  color: red;
}

.green {
  color: forestgreen;
}

.center {
  text-align: center;
}

.navbar-link {
  color: #007bff !important;
}

#progress-bar {
  width: 100%;
  background-color: lightgrey;
}

#progress-bar-line {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: center;
  color: #ffffff;
}

.answer-check-box {
  padding-left: 20px;
}

.m-3 {
  margin: 3;
}

.user-badge-img,
.admin-badge-img {
  width: 30px;
  height: auto;
}