<div class="row justify-content-center">
  <div class="col col-md-4">
    <h1 align="center">Новый тест</h1>

    <%= render 'form' %>
    <%= link_to 'Назад', admin_tests_path, class: "btn btn-primary mb-3" %>
  </div>
</div>


